{% extends 'base/base.html' %}

{% block title %}HOME{% endblock title %}





{% block main %}
{% load static %}
<article>
    <header>
        <h1>Good Office</h1>
    </header>
    <section class="section-home">
    
        <section class="section-imagenes">
            <img src="{% static 'img/estanteria_banner.jpg' %}" alt="">
            <img src="{% static 'img/oficina_home.jpg' %}" alt="">
        </section>
        

        <p>
            Empresa dedicada al rubro de la fabricacion y venta de:
            
        </p>
        <ul>
            <li>
                Estanterias
            </li>
            <li>
                Muebles para oficina
            </li>
            <li>
                Cajas plasticas
            </li>
            <li>
                Lockers
            </li>
        </ul>
    </section>
    <section class="section-home">
       <p>
        Los mejores productos con los mejores precios.

       </p>
       <p>
            <strong> Mas de 100 años en el rubro</strong>
       </p>
       

    </section>
</article>




{% endblock main %}



