{% extends 'base/base.html' %}

{% block title %}Sucursales{% endblock title %}





{% block main %}

<article class="somos">
    <header>
        <h1>¡Visítanos en cualquiera de nuestras 3 sucursales!</h1>
    </header>
    <section>
       <ul>
           <li class="box">
               <h3> Sucursal Madero</h3>
               <p>
                   Av. Madero 115
               </p>
               <p>
                   <mark>
                       Horario: 10:00 a.m - 5 p.m.
                   </mark>
               </p>
               <p>
                   Telefono : 8211111123
               </p>
           </li>
           <li class="box">
            <h3> Sucursal Ruiz Cortinez</h3>
            <p>
                Av. Ruiz Cortinez 115
            </p>
            <p>
                <mark>
                    Horario: 10:00 a.m - 5 p.m.
                </mark>
                <p>
                    Telefono : 8211111123
                </p>
            </p>
        </li>
        <li class="box">
            <h3> Sucursal Mitras</h3>
            <p>
                Av. Simón Bolivar 115
            </p>
            <p>
                <mark>
                    Horario: 10:00 a.m - 5 p.m.
                </mark>
            </p>
            <p>
                Telefono : 8211111123
            </p>
        </li>
       </ul>
    </section>
</article>

{% endblock main %}


