{% extends 'base/base.html' %}

{% block title %}Sucursales{% endblock title %}





{% block main %}

<article>
    <header>
        <h1>¿Quienes Somos Nosotros Good Office?</h1>
    </header>
    <section>
        <p>
            Good Office es una empresa 100% Mexicana, fundada en el año de 1910.
            Nuestra primera incursión en este mundo de la fabricación, fue en el area de muebles 
            para oficinas del gobierno del entonces año, desde entonces, nos hemos seguido innovando, para ofrecerle a nuestros clientes
            los mejores productos al mejor precio.
        </p>
    </section>
</article>

{% endblock main %}


