{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header>
        <nav >
            <ul class="menu">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{%  url 'productos' %}">Productos</a>

                </li>
                <li>
                   <a href="{% url 'sucursales' %}">Sucursales</a>
                </li>
                <li>
                    <a href="{% url 'quienes' %}">Quienes somos</a>
                </li>
                

            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        
        
    
        {% endblock main %}
    </main>
    <aside>
        {% block aside %}

        {% endblock aside %}
    </aside>
    <footer>
        <ul class="menu-footer">
            <li>
                <a href="/admin">Entrar al Admin</a>
            </li>
            <li>
                Contactar al desarrollador
            </li>
        </ul>
    </footer>
   



</body>
</html>