a{
    text-decoration: none;
}
body{
    background-color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-areas: "header header"
                        "main aside"
                        "footer footer";
    gap:10px;
}

header
{
    grid-area:header;
    
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(67, 82, 128);
    margin: 0 0;
    padding-left: 0;
    
}
.menu li{
    width: 100%;
    margin: 0px;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: flex;
    
    justify-content: center;
    
}
.menu li a:hover{
    background-color: rgb(91, 112, 177);
}
main
{
    grid-area: main ;
    background-color: white;
    border: 1px solid #ddd;
}

main article header h1{
    text-align: center;
    font-size: 3vw;
}
.section-home{
    
    text-align: center;
    font-size: 1.5vw;
}
.section-home ul{
    list-style: none;
}
.section-imagenes{
    display: flex;
    justify-content: space-evenly;
    
}
.section-imagenes img{
    width: 30%;
}
.nosotros header h1{
    font-size: 3vw;

}
.section-text-nosotros{
    font-size: 2vw;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 60px;
}
#empresa-somos-name{
    font-style: oblique;
}
.somos ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-flow: column;
   text-align: center;
   align-items: center;
}
.box {
    
    border: 1px solid #ddd;
    margin: 15px;
    width: 50%;
    
}
.productos header p{
    text-align: center;
    font-size: 2vw;

}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.row h3{
    text-align: center;
    font-size: 2vw;
}
.row p{
    text-align: center;
    padding: 5px;
    font-size: 1.5vw;
}
.row .section-imagenes img{
    width: 50%;
    height: 150px;
}
.btn{
    background-color: black;
    padding: 15px;
    color: white;
    border-radius: 4px;
    
}
.btn:hover{
    background-color: gray;
}
aside{
    grid-area: aside;
    background-color: white;
    border: 1px solid #ddd;
}
aside section {
    display: flex;
    text-align: center;
    align-items: center;
    flex-flow: column;
}
aside section img{
    width: 50%;
    
}
footer{
    grid-area: footer;
    background-color: gray;
}
footer a{
    color: white;
}
.menu-footer{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-around;
    

    padding-left: 0;
}
.last-footer{
   text-align: center;
}